<%- include("partials/header"); %>

    <h1>Compose</h1>

    <form action="/compose" method="post">
        <label for="input">Title</label>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="postTitle">
        </div>

        <br>
        <br>
        
        <label for="textarea">Paragraph</label>
        <div class="form-floating">
            <textarea class="form-control" id="floatingTextarea2" style="height: 200px" name="postBody"></textarea>
        </div>
        <br>
        <button class="btn btn-primary btn-lg" type="submit">Publish</button>
    </form>

    <%- include("partials/footer"); %>